.info-section {
    background-color: white;
}

.menu-section {
    background-color: #FFEEDD;
}

.feature-section {
    background-color:white;
}

.news-section {
    background-color: #FFEEDD;
}

.access-section {
    background-color: white;
}

.footer {
    background-color: brown;
}
/*--------------------------------
 タグ
---------------------------------*/
body {
    line-height: 1.7;
}
a {
    text-decoration: none;
}
.inner {
    padding: 0 200px;
}
.main-section {
    padding: 100px 0 80px;
}
.main-heading {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    font-size: 35px;
}
/*--------------------------------
 .top-section
---------------------------------*/
.top-section {
    margin: 15px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.top-left {
    font-size: 20px;
}
.top-name {
    line-height: 1;
}
.top-right {
    font-size: 14px;
}
.gnav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.gnav-item {
    padding-left: 20px;
}
.gnav-link {
    color: black;
}

/*--------------------------------
 header
---------------------------------*/

.header-img {
    background-image: url("../img/food1.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: relative;
}
.header-heading {
    position: absolute;
    top: 50%;
    left: 20%;
    font-size: 50px;
}

/*--------------------------------
 .info-section
---------------------------------*/


.info-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-txt {
    width: ;
}

/*--------------------------------
 .menu-section
---------------------------------*/
.menu-items {
    display: flex;
    justify-content: space-between;
}
.menu-item {
    width: 30%;
}
.menu-img img{
    width: 100%;
}
.menu-title {
    font-size: 20px;
}

/*--------------------------------
 .feature-section
---------------------------------*/
.feature-item {
    display: flex;
    justify-content: space-between;
}
.row {
    margin-bottom: 30px;
}

.row-reverse {
    flex-direction: row-reverse;
}
.feature-img img {
    height: 300px;
}
.feature-img1 {
    padding-right: 40px;
}
.feature-img2 {
    padding-left: 40px;
}
.feature-detail {
    width:100%;
}
.feature-title {
    padding-bottom: 15px;
    font-size: 20px;
}
.feature-txt {
    width: 90%;
    padding-bottom: 20px;
}
.feature-btn {
    display: flex;
    justify-content: flex-end;
}
button {
    width: 130px;
    height: 40px;
    background-color: brown;
    color: white;
    border-style: none;
    letter-spacing: 1.5px;
}

/*--------------------------------
 .news-section
---------------------------------*/
.news-center {
    padding: 0 200px;
}
.news-detail {
    display: flex;
    flex-direction: row;
}
.news-date {
    padding-right: 50px;
}
.news-bottom {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/*--------------------------------
 .access-section
---------------------------------*/
.access {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}
.access-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.access-list {
    list-style: none;
    display: flex;
}
.access-list li {
    justify-content: space-around;
}
.fab {
    margin: 10px;
    width: 50px;
}

/*--------------------------------
 footer
---------------------------------*/
.footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}